excilys-bank-model/.*
excilys-bank-model/target
excilys-bank-service-api/.*
excilys-bank-service-api/target
excilys-bank-service-impl/.*
excilys-bank-service-impl/target
excilys-bank-dao-api/.*
excilys-bank-dao-api/target
excilys-bank-dao-impl/.*
excilys-bank-dao-impl/target
excilys-bank-web/.*
excilys-bank-web/target
.settings/org.eclipse.m2e.core.prefs

.project
