<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<context:property-placeholder location="classpath:loader.properties" />

	<bean id="ds" class="org.apache.tomcat.jdbc.pool.DataSource" destroy-method="close" p:driverClassName="${ds.driver}" p:url="${ds.url}" p:username="${ds.username}" p:password="${ds.password}" />

	<bean class="org.springframework.jdbc.core.simple.SimpleJdbcTemplate">
		<constructor-arg ref="ds" />
	</bean>

	<bean class="com.excilys.ebi.spring.dbunit.config.DataSetConfiguration">
		<property name="setUpOperation" value="INSERT" />
		<property name="dbType" value="${spring-dbunit.dbType}" />
		<property name="dataSetResourceLocation" value="${spring-dbunit.dataSets}" />
		<property name="format" value="FLYWEIGHT_FLAT" />
		<property name="formatOptions">
			<bean class="com.excilys.ebi.spring.dbunit.config.DataSetFormatOptions">
				<property name="dtdLocation" value="${spring-dbunit.dtdLocation}" />
			</bean>
		</property>
		<property name="batchedStatements" value="${spring-dbunit.batchedStatements}" />
	</bean>
</beans>

