<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

	<contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
		<resetJUL>true</resetJUL>
	</contextListener>

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{dd/MM/yyyy HH:mm:ss.SSS} | %level %logger{36}.%M - %msg%n%rEx</pattern>
		</encoder>
	</appender>

<!-- 	<logger name="org.hibernate.SQL"> -->
<!-- 		<level value="TRACE" /> -->
<!-- 	</logger> -->

<!-- 	<logger name="org.hibernate.type.descriptor.sql.BasicBinder"> -->
<!-- 		<level value="TRACE" /> -->
<!-- 	</logger> -->

<!-- 	<logger name="org.hibernate.tool.hbm2ddl.SchemaExport"> -->
<!-- 		<level value="DEBUG" /> -->
<!-- 	</logger> -->

<!-- 	<logger name="com.excilys.ebi.bank"> -->
<!-- 		<level value="DEBUG" /> -->
<!-- 	</logger> -->

	<root>
		<level value="ERROR" />
		<appender-ref ref="CONSOLE" />
	</root>

</configuration>
