* {
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
	font-size: 12px;
}

body {
	background: #2369aa url('../img/background.png') repeat-x left top;
}

#container {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}

#logo {
	text-align: center;
	margin-top: 10px;
}

.green {
	color: #44b642;
}

.red {
	color: #b64242;
}

.bold {
	font-weight: bold;
}

.center {
	text-align: center;
}

.italic {
	font-style: italic;
}

.blueback {
	background-color: blue;
}

/*******************************************

	Small Window

*******************************************/
div.sw {
	width: 579px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}

div.sw div.sw_icon {
	margin-left: 30px;
}

div.sw div.sw_header {
	height: 29px;
	background-color: transparent;
	background-position: top;
	background-repeat: no-repeat;
	background-image: url('../img/small_window_top.png'); /** sprite-ref: sprite; sprite-alignment: left */
	color: #59a0d9;
	overflow: hidden;
	padding-top: 20px;
	padding-left: 60px;
	font-weight: bold;
}

div.sw div.sw_content {
	background: transparent url('../img/small_window_content.png') repeat-y top;
	padding: 10px 40px;
}

div.sw div.sw_footer {
	height: 41px;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: top;
	background-image: url('../img/small_window_bottom.png'); /** sprite-ref: sprite; sprite-alignment: left */
}

div.sw div.message {
	text-align: center;
	font-size: 15px;
	padding: 20px;
}

/*******************************************

	Big Window

*******************************************/
div.bw {
	width: 838px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}

div.bw div.bw_icon {
	margin-left: 30px;
}

div.bw div.bw_header {
	height: 41px;
	font-size: 12px;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: left;
	background-image: url('../img/big_window_top.png'); /** sprite-ref: sprite; sprite-alignment: left */
	overflow: hidden;
	padding: 12px 30px 0 23px;
}

div.bw div.bw_error {
	color: #ff3c3c;
	text-align: center;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #FAA;
	background: #feffc2;
	padding: 5px 10px;
	margin-bottom: 10px;
	margin-top: 10px;
}

div.bw div.bw_content {
	background: transparent url('../img/big_window_content.png') repeat-y top;
	padding: 10px 40px;
}

div.bw div.bw_footer {
	height: 41px;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: left;
	background-image: url('../img/big_window_bottom.png'); /** sprite-ref: sprite; sprite-alignment: left */
}

div.bw div.message {
	text-align: center;
	font-size: 15px;
	padding: 20px;
}

div.bw div.bw_header div.userInfo {
	float: right;
	overflow: hidden;
}

div.bw div.bw_header div.userInfo .login {
	float: right;
	line-height: 42px;
	color: #4187c0;
	margin-left: 5px;
}

div.bw div.bw_header div.userInfo img {
	float: right;
	margin-left: 5px;
}

div.bw div.bw_header div.menu {
	float: left;
}

/*******************************************

	Forms

*******************************************/
form.fixedSize {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}

form.fixedSize td {
	padding-right: 30px;
}

form.fixedSize td.field {
	padding: 5px 0px;
}

form.fixedSize td.submit {
	padding-top: 10px;
	text-align: center;
}

form.fixedSize input.text {
	background-color: #f0f8ff;
	padding: 2px 5px;
	border: 1px solid #d5ebfe;
	color: #2e6696;
}

form.fixedSize input.text:FOCUS {
	background-color: #fdffd1;
	border: 1px solid #d7da8a;
	color: #979b25;
}

div.error {
	color: #ff3c3c;
	text-align: center;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #FAA;
	background: #feffc2;
	padding: 5px 10px;
	margin-bottom: 10px;
	margin-top: 10px;
}

/*******************************************

	Tables

*******************************************/
table.table {
	border: 1px solid white;
	text-align: left;
	padding: 0;
	margin: 0;
	border-spacing: 0px;
	border-collapse: collapse;
}

table.table tr.head {
	background-color: #e9f5ff;
}

table.table tr.head th {
	padding: 8px 10px 8px 10px;
	font-size: 14px;
}

table.display tr.tr1 {
	background-color: #f9f9f9;
}

table.table td {
	font-size: 12px;
	padding: 8px 8px 8px 8px;
	border-right: 1px dashed #d5d5d5;
	border-left: 1px dashed #d5d5d5;
}

table.table td.icons img {
	border: none;
}

table.table tr.blank {
	height: 20px;
	border: none;
}

table.table tr.blank td {
	border: none;
}

table.table td.figure {
	font-size: 13px;
}

table.table tr.tr1:hover,table.table tr.tr2:hover {
	background-color: #dee9f4;
}

table.table td.blank {
	border: none;
	background-color: white;
}

table.table tr.total td.key {
	text-align: left;
	font-weight: bold;
	font-size: 14px;
	padding: 5px 15px 5px 15px;
	background-color: #fffec9;
	border: none;
}

table.table td.value {
	background-color: #fffec9;
	font-size: 14px;
	text-align: center;
}

/*******************************************

	Breadscrumbs

*******************************************/
div.breadscrumbs {
	background-color: #FAFAFA;
	color: #AAA;
	font-weight: bold;
	font-size: 11px;
	padding: 5px;
}

div.breadscrumbs a:link,div.breadscrumbs a:visited {
	font-size: 11px;
	color: #AAA;
}

div.breadscrumbs a:hover {
	color: #888;
}

/*******************************************

	Content

*******************************************/
h1 {
	color: #73a3cb;
	font-size: 20px;
	padding: 10px 20px;
	background-color: #e9f5ff;
	margin-bottom: 10px;
}