#menu {
	width: 435px;
	margin: auto;
}

#menu.nocards {
	width: 295px;
}

#menu .block {
	width: 130px;
	margin: 0 0 10px 10px;
}

.title {
	padding: 5px;
	border-radius: 4px;
	border: 1px solid #DFDFDF;
}

.title:hover,.title.active {
	background-color: #CCC;
	border-color: #CCC;
}