div.menu {
	background-color: #6ebbff;
}

div.menu .title {
	margin: 0 5px;
	text-align: left;
}

div.menu .tab {
	height: 32px;
	width: 123px;
	margin: 0 0 0 2px;
	line-height: 32px;
	text-align: center;
	color: #3c7ab0;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: left;
	background-image: url('../img/menu_base.png'); /** sprite-ref: sprite; sprite-alignment: left */
}

div.menu .tab.active,div.menu .tab:hover {
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: left;
	background-image: url('../img/menu_selected.png'); /** sprite-ref: sprite; sprite-alignment: left */
}

div.menu .iconLabel {
	margin-top: 3px;
	margin-left: 3px;
}

div.menu .after {
	height: 32px;
	width: 44px;
	background-position: right;
	background-repeat: no-repeat;
	background-image: url('../img/menu_after.png'); /** sprite-ref: sprite; sprite-alignment: right */
}