div.submenu {
	width: 435px;
	margin: auto;
}

div.submenu.nocards {
	width: 295px;
}

div.submenu .block {
	width: 130px;
	margin: 0 0 0 10px;
}

div.submenu .title {
	padding: 5px;
	border-radius: 4px;
	border: 1px solid #DFDFDF;
}

div.submenu .title:hover,div.submenu .title.active {
	background-color: #CCC;
	border-color: #CCC;
}
